{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="ContentFooter" />
    <f:section name="content">

        <f:if condition="{data.imagecols} < 2">
            <f:then>
                <f:render section="noRows" arguments="{_all}" />
            </f:then>
            <f:else>
                <f:render section="rows" arguments="{_all}" />
            </f:else>
        </f:if>
    </f:section>

    <f:section name="rows">
        <f:switch expression="{data.imagecols}">
            <f:case value="2"><v:variable.set name="colClass" value="col-sm-6" /></f:case>
            <f:case value="3"><v:variable.set name="colClass" value="col-sm-4" /></f:case>
            <f:case value="4"><v:variable.set name="colClass" value="col-sm-3" /></f:case>
            <f:case value="6"><v:variable.set name="colClass" value="col-sm-2" /></f:case>
            <f:case default="TRUE"><v:variable.set name="colClass" value="col-sm-12" /></f:case>
        </f:switch>
        <v:variable.set name="vw" value="{v:math.division(a: 100, fail: 100, b: data.imagecols)}" />
        <f:for each="{gallery.rows}" as="row">
            <div class="row">
                <f:for each="{row.columns}" as="column">
                    <f:if condition="{column.media}">
                        <div class="{colClass}">
                            <f:render section="imageItem" arguments="{_all}" />
                        </div>
                    </f:if>
                </f:for>
            </div>
        </f:for>
    </f:section>

    <f:section name="noRows">
        <f:for each="{gallery.rows}" as="row">
            <f:for each="{row.columns}" as="column">
                <f:if condition="{column.media}">
                    <f:render section="imageItem" arguments="{_all}" />
                </f:if>
            </f:for>
        </f:for>
    </f:section>

    <f:section name="imageItem">
        <figure>
            <f:alias map="{img: column}">
                <f:render section="imageType" arguments="{_all}" />
            </f:alias>
            <f:if condition="{column.media.description}">
                <figcaption>
                    {column.media.description}
                </figcaption>
            </f:if>
        </figure>
    </f:section>

    <f:section name="imageTypeCustom">
        <f:media
            file="{img.media}"
            width="{img.dimensions.width}"
            alt="Will be replaced"
            title="{img.media.title}"
            additionalAttributes="{vw: vw, breakpoint: 'sm', image_format: data.image_format}"
            />
    </f:section>
    
    <f:section name="imageTypeDefault">
        <f:media
            file="{img.media}"
            width="{img.dimensions.width}"
            alt="{altText}"
            title="{img.media.title}"
            class="img-responsive"
            />
    </f:section>

    <f:section name="imageType">
        <v:variable.set name="altText" value="{img.media.alternative->v:or(alternative: img.media.title)->v:or(alternative: img.media.name)}" />
        <f:debug>{altText}</f:debug>
        <f:switch expression="{img.media.mime_type}">
            <f:case value="image/jpg"><f:render section="imageTypeCustom" arguments="{_all}" /></f:case>
            <f:case value="image/jpeg"><f:render section="imageTypeCustom" arguments="{_all}" /></f:case>
            <f:case value="image/png"><f:render section="imageTypeCustom" arguments="{_all}" /></f:case>
            <f:case value="image/gif"><f:render section="imageTypeCustom" arguments="{_all}" /></f:case>
            <f:case default="TRUE"><f:render section="imageTypeDefault" arguments="{_all}" /></f:case>
        </f:switch>
</f:section>
</html>